body {
    margin: 0;
    background-color: #000;
}

.wrapper {
    height: 100vh;
    width: 100%;
    position: relative;
 
}

.box {
    background-color: #eeeeee;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background-image: url('../assets/colon1.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.colon {
   margin-left: 11%;
}

.digit {
    width: 22.1%;
    padding-left: 30px;
    box-sizing: border-box;
    float: left;
}

.alert {
    box-sizing: border-box;
    padding: 32px;
    background-color: #88EB95;
    width: 100%;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
